Import Libraries

In [83]:
import pandas as pd
import numpy as np
from sklearn import neighbors
from sklearn.neighbors import NearestNeighbors

Read and load the dataset

In [84]:
df = pd.read_csv('https://github.com/ArinB/MSBA-CA-Data/raw/main/CA05/movies_recommendation_data.csv')
df.head()

,Movie ID,Movie Name,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History,Label
0,58,The Imitation Game,8.0,1,1,1,0,0,0,0,0
1,8,Ex Machina,7.7,0,1,0,0,0,1,0,0
2,46,A Beautiful Mind,8.2,1,1,0,0,0,0,0,0
3,62,Good Will Hunting,8.3,0,1,0,0,0,0,0,0
4,97,Forrest Gump,8.8,0,1,0,0,0,0,0,0

Make a dictionary to list all the conditions: The Post": IMDB Rating = 7.2, Biography = Yes, Drama = Yes, Thriller = No, Comedy = No, Crime = No,
Mystery = No, History = Yes

In [85]:
The_Post = {'Movie Name': 'The Post', 
            'IMDB Rating' : 7.2, 
            'Biography' : 1, 
            'Drama' : 1, 
            'Thriller' : 0, 
            'Comedy' : 0, 
            'Crime' : 0, 
            'Mystery' : 0, 
            'History' : 1}

Make a list with required conditions

In [86]:
cols = ['IMDB Rating', 'Biography', 'Drama', 'Thriller', 
        'Comedy', 'Crime', 'Mystery', 'History']

Create dataframe

In [87]:
The_Post = [The_Post]

Adjusting conditions into the dataframe

In [88]:
user_input = pd.DataFrame(The_Post, columns = cols)
user_input

   IMDB Rating  Biography  Drama  Thriller  Comedy  Crime  Mystery  History
0          7.2          1      1         0       0      0        0        1

Create the train data to extract

In [89]:
train = df[user_input.columns].values

Set the number of neighbors as number of movies, and build the model with KNN

In [90]:
K = 5
knn = NearestNeighbors(n_neighbors = K, algorithm = 'auto')
knn.fit(train)

NearestNeighbors()

Create a def function to find 5 recommended movies

In [91]:
def rec_movies(The_Post, K):
  distances, indices = knn.kneighbors([The_Post], n_neighbors = K)
  return df.iloc[indices[0]]

Find the nearest 5 movies based on the conditions and print it out for the user

In [92]:
recommedation = rec_movies(user_input.iloc[0].values, K)
Movie = The_Post[0]["Movie Name"]
print('Search for:', Movie)
print('You may also like:')
print(recommedation['Movie Name'].to_string(index = False))

Search for: The Post
You may also like:
12 Years a Slave
   Hacksaw Ridge
  Queen of Katwe
  The Wind Rises
A Beautiful Mind